*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background-color: #FFF8DC
	
}
body
{
	margin-right: 15px;
	margin-top: 10px;
}

 p

{
	background-color: #D3D3D3;
	border: 2px solid black;
    margin-bottom: 15px;
    position: relative;
    float: left;
    margin-left: 15px;
    padding-top: 35px;
    padding-left: 13px;
    padding-right: 13px;
   

	                   }
	@media(min-width: 992px)
	{
	p{
		width: 31.8%;
		font-size: 115%;
		height: 190px;
	}
	span
	{
		font-size: 125%;
		width: 20%;
	}
	
}
	@media(min-width: 768px) and (max-width: 991px)
{	p{
		width: 48%;
		
		font-size: 130%;
		height: 210px;
	}
	span
	{
		font-size: 140%;
		width: 25%;
	}
	
}
	@media(max-width: 767px)
	{
	p{
		width: 98%;
		height: 272px;
		font-size: 130%;
		
		}
	span
	{
		font-size: 125%;
		width: 30%;
	}
	}
	.red
	{
		background-color: #DB7093;
	}
	.blu
	{
		background-color: #00BFFF;
	}
	.yello
	{
		background-color: #FFE4C4;
	}

	span
	{   
		border: 1px solid black;
		
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        

	}
	h1
	{ 
      text-align: center;
      font-size: 175%;
      margin-bottom: 19px;
      
	 }
	 
	